body{
    background-color: #E4DCE7;
}

.bg-meu-verde-dark{
    background-color: #347F32;
}

.bg-meu-roxo-dark{
    background-color: #47354F;
}

.meu-roxo{
    color: #8E7598;
}

.meu-roxo-dark{
    color: #47354F;
}